{% if page.lang == "ru" %}
<ul id="menusimple" class="menusimple">
    <li><a href="{{site.url}}/{{page.lang}}/description.html">Описание</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/screenshots.html">Скриншоты</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/download.html">Скачать</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/blog.html">Блог</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/faq.html">FAQ</a></li>
</ul>

{% else %}
<ul id="menusimple" class="menusimple">
    <li><a href="{{site.url}}/{{page.lang}}/description.html">Description</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/screenshots.html">Screenshots</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/download.html">Downlaod</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/blog.html">Blog</a></li>
    <li><a href="{{site.url}}/{{page.lang}}/faq.html">FAQ</a></li>
</ul>

{% endif %}